.container{
    background: #F8F8F8;
    border: 1px solid #DCDCDC;
    border-radius: 7px;
    width: 850px;
    height: 240px;
    form{
        margin-top: 10%;
        #input-file-upload{
            display: none;
        }
        h3{
            margin: 0 auto;
        }
        #link{
            text-decoration: underline;
            margin: 0 auto;
            padding: 0;
            display: inline;
        }
        #link:hover{
            cursor: pointer;
            color: blueviolet;
        }
    }
}
.error{
    border: 1px solid #ED5D5D;
}
.errorMessage{
    color: #ED5D5D;
    display: inline;    
    align-self: flex-start;
    
}